@media (max-width: 900px) {
  .portfolio-view {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
            "line-chart line-chart"
            "pie-chart add-coins-form"
            "portfolio-coins portfolio-coins";

    .portfolio-line-chart {
      grid-area: line-chart;
    }

    .portfolio-coins {
      grid-area: portfolio-coins;
    }

    .add-coins-form {
      grid-area: add-coins-form;
    }

    .portfolio-pie-chart {
      grid-area: pie-chart;
    }
  }
}

@media (max-width: 500px) {
  .portfolio-view {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
            "line-chart"
            "pie-chart"
            "portfolio-coins"
            "add-coins-form";
  }
}